.root {
    -fx-background-color: radial-gradient(focus-angle 0.0, center 50% 50%, radius 100%, #1B2735 0%, #090A0F 100%);
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-overflow: hidden;
}

#stars {
    -fx-width: 1px;
    -fx-height: 1px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, #FFF, 0, 0, 0, 0);
    -fx-animation: animStar 50s linear infinite;
}

#stars:after {
    -fx-content: " ";
    -fx-position: absolute;
    -fx-top: 2000px;
    -fx-width: 1px;
    -fx-height: 1px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, #FFF, 0, 0, 0, 0);
}

#stars2 {
    -fx-width: 2px;
    -fx-height: 2px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, #FFF, 0, 0, 0, 0);
    -fx-animation: animStar 100s linear infinite;
}

#stars2:after {
    -fx-content: " ";
    -fx-position: absolute;
    -fx-top: 2000px;
    -fx-width: 2px;
    -fx-height: 2px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, #FFF, 0, 0, 0, 0);
}

#stars3 {
    -fx-width: 3px;
    -fx-height: 3px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, #FFF, 0, 0, 0, 0);
    -fx-animation: animStar 150s linear infinite;
}

#stars3:after {
    -fx-content: " ";
    -fx-position: absolute;
    -fx-top: 2000px;
    -fx-width: 3px;
    -fx-height: 3px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, #FFF, 0, 0, 0, 0);
}

#title {
    -fx-position: absolute;
    -fx-top: 50%;
    -fx-left: 0;
    -fx-right: 0;
    -fx-text-fill: #FFF;
    -fx-font-family: 'Lato';
    -fx-font-size: 50px;
    -fx-font-weight: 300;
    -fx-letter-spacing: 10px;
    -fx-text-align: center;
    -fx-margin-top: -60px;
    -fx-padding-left: 10px;
}

#title span {
    -fx-background-color: -fx-background-color, linear-gradient(to bottom, white, #38495a);
    -fx-text-fill: transparent;
}

.star-field {
    -fx-background-color: transparent;
}

.star {
    -fx-font-size: 20px;
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, #FFF, 0, 0, 0, 0);
    -fx-animation: animStar 50s linear infinite;
}

@keyframes animStar {
    0% {
        -fx-translate-y: 0px;
    }
    100% {
        -fx-translate-y: -2000px;
    }
}