#label-title {
    -fx-font-size: 150;
    -fx-text-alignment: center;
    -fx-font-family: "Montserrat";
    -fx-font-weight: bold;
}

#options-titles {
    -fx-font-size: 25;
    -fx-text-alignment: center;
    -fx-font-family: "Montserrat";
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-background-color: #333;
    -fx-text-fill: #fff;
    -fx-font-size: 30;
    -fx-font-family: "Kinetika Ultra";
    -fx-cursor: hand;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: #666;
}

.button:hover {
    -fx-background-color: #444;
}

.button:pressed {
    -fx-background-color: #555;
}

.button:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: default;
}

.stage-title {
    -fx-alignment: CENTER;
}

.slider {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.slider .track {
    -fx-background-color: #444;
    -fx-background-radius: 10;
    -fx-padding: 2;
}

.slider .thumb {
    -fx-background-color: #66d9ef;
    -fx-background-radius: 50%;
    -fx-padding: 7.5;
    -fx-border-width: 1.5;
    -fx-border-color: #fff;
    -fx-border-radius: 50%;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 5);
}

.slider .track .filled-track {
    -fx-background-color: #66d9ef;
    -fx-background-radius: 10;
}

.slider .track .empty-track {
    -fx-background-color: #333;
    -fx-background-radius: 10;
}

#hovered-planet-name-box {
    -fx-fill: rgba(0, 0, 0, 0.7);
    -fx-border-color: linear-gradient(to right, #FFFFFF, #87CEFA, #000000);
    -fx-border-width: 5;
    -fx-border-radius: 15;
    -fx-padding: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(135, 206, 250, 0.6), 12, 0, 0, 0);
    -fx-opacity: 1;
}
#hovered-planet-name {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(to right, #FFFFFF, #87CEFA);
    -fx-effect: dropshadow(one-pass-box, rgba(135, 206, 250, 0.7), 4, 0, 0, 0);
}